h1{
    text-align: center;
    color: crimson;
}

div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
}

.blue{
    color: dodgerblue;
    font-size: 2em;
}

.red_icon{
    font-size: 3em;
    color: red;
}

.heart{
    color: red;
    font-size: 3rem;
}