ol{
    list-style: none;
    counter-reset: contador;
}

ol li{
    counter-increment: contador;
}

ol li::before{
    content: 'Universidad' counter(contador)') ';
    color: red;
}

ol li::after{
    content: '.';
}